body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

a {
  color: #00B7FF;
}

#overall_content{
}

#personalizations{
}

#welcome-dialog{
}